<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ledda</title>
  <link rel="stylesheet" href="/static/css/main_page.css">

</head>
<body>
<!-- partial:index.partial.html -->
{{template "nav" .}}
<header>
 <img class="headerimg" src=""></header>
<main>
  {{if .error}}<center>{{.error}}</center>{{end}}
  {{if .Bought}}<center><p style="color: green;">you have successfully purchased a virtual item and have made your contribution to saving the planet. thank you!</p></center>{{end}}
  {{ range $key, $value := .Items }}
  <center>
  <div class="container1">
  <img class="containerimg" src="/static/img/{{$value.ImagePath}}">
    <h3>{{$value.Name}}</h3>
    <h4>{{$value.Price}}$</h4>
    {{ if gt $value.Count 0 }}
    <h4>there are only {{$value.Count}} left </h4>
    <a href="/?id={{$value.ID}}">
      <button type="submit">buy this one and enjoy ur life</button>
    </a>
    {{ else }}
    <h4 style="color: red"> SOLD OUT </h4>
    {{ end }}
  </div>
  </center>
  {{ end }}
</main>
</body>
</html>
