<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ledda</title>
  <link rel="stylesheet" href="/static/css/main_page.css">

</head>
<body>
<!-- partial:index.partial.html -->
{{template "nav"}}
<header>
 <img class="headerimg" src=""></header>
<main>
  <div id="container1"class="container1">
    <h3>Balance: 10000</h3>
    <h4>Bonuses: 0</h4>
  <img class="containerimg" src="/static/img/burn1.png">
    <h3>White</h3>
    <h4>1700</h4>
  </div>
<!--  <div id="container2" style="float:top;">-->
<!--  <img class="containerimg" src="/static/img/logo.png">-->
<!--&lt;!&ndash;    <h3>Item 1</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    <h4>Price</h4>&ndash;&gt;-->
<!--  </div>-->
  <div id="container3" class="container1">
  <img class="containerimg" src="/static/img/burn22.png">
    <h3>Black</h3>
    <h4>1950</h4>
  </div>
</main>
<!-- partial -->
  
</body>
</html>
