<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ledda</title>
  <link rel="stylesheet" href="/static/css/main_page.css">

</head>
<body>
<!-- partial:index.partial.html -->
{{template "nav"}}
<header>
 <img class="headerimg" src=""></header>
<main>
  {{if .error}}<center>{{.error}}</center>{{end}}
  <div id="container0" class="container1">
    <h3>Balance: {{.Balance}}</h3>
    <h4>Bonuses: {{.Bonuses}}</h4>
  </div>
  {{ range $key, $value := .Items }}
  <div class="container1">
  <img class="containerimg" src="/static/img/{{$value.ImagePath}}">
    <h3>{{$value.Name}}</h3>
    <h4>{{$value.Price}}$</h4>
    <h4>there are only {{$value.Count}} left </h4>
    <center>
    <a href="/?id={{$value.ID}}" >
      <button type="submit">buy this one and enjoy ur life</button>
    </a>
    </center>
  </div>
  {{ end }}
</main>
</body>
</html>
