{{define "nav"}}
<div class="nav">
<nav>
  <ul id="navigation">
    <a href="/"><li>Home</a></li>
    <a href="/orders"><li>My Orders</a></li>
    <a class="cart" id="liveToastBtn">Shopping Cart</a>
<!--    <a href="/"><li>Cart</a></li>-->
    <br>
    {{ if .Balance}}
    <a href="/"><li>Balance: ${{.Balance}}</a></li>
    {{ end }}
    {{ if and (not (eq .Bonuses nil)) (.login) }}
    <a href="/" style="color:green"><li>Bonuses: ${{.Bonuses}}</a></li>
    {{ else if not .login }}
    <a href="/reg" style="color:red"><li>GET FREE BONUS</a></li>
    {{ end }}
  </ul>
</nav>
</div>
{{end}}