html {
  background:#fff;
  font-size:100%;
}

html,input {
  font-family:Helvetica, Arial, sans-serif;
}

body {
  margin:0;
}

#login {
  width:300px;
  position:relative;
  margin:50px auto;
}

form {
  border-radius:10px;
  padding:10px 0 10px 20px;
  background-color:#fff;
}

input {
  line-height:2em;
  font-size:1em;
  border:0;
  height:1.5em;
  display:block;
  width:270px;
  background:transparent;
  color:#999;
  margin:0;
  padding:.5em .5em 1em;
}

input[type="password"] {
  padding:1em .5em .5em;
}

.spacer {
  height:0;
  border-bottom:3px solid #333;
  margin:0 0 0 5px;
}

input[type="submit"] {
  background-color:#fff;
  color:#111;
  position:absolute;
  bottom:70px;
  right:-15px;
  border-radius:50px;
  width:75px;
  height:50px;
  padding:0;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
}

/*input[type="submit"]:hover {*/
/*  cursor:pointer;*/
/*  box-shadow:0 0 1px 6px #333;*/
/*  color:gray;*/
/*  -webkit-transition: all .1s linear;*/
/*  -o-transition: all .1s linear;*/
/*  -moz-transition: all .1s linear;*/
/*  -ms-transition: all .1s linear;*/
/*  -kthtml-transition: all .1s linear;*/
/*  transition: all .1s linear;*/
/*}*/

::-webkit-input-placeholder {
  color:#666;
}

::-moz-placeholder {
  color:#666;
}

:-ms-input-placeholder {
  color:#666;
}

input:-moz-placeholder {
  color:#666;
}

input[type="submit"]::-moz-focus-inner {
  border:0;
}

input:focus {
  outline:0;
}