tbody, td, tfoot, th, thead, tr {
    border-color: #afbfb8;
    border-style: dotted; 
    border-width: none;
}
#toastBody button{
  background:rgba(255,255,255,.85);
  border:1px solid #257025;
  color: #000;
  font-weight:bold;
}

.row-cols-md-3>* {
    width: max-content !important;
}

.card {
    border: none !important;
}